@font-face {
  font-family: dual;
  src: url(./Fonts/dual.woff);
}

@font-face {
  font-family: book-antiqua;
  src: url(./Fonts/book-antiqua.woff);
}
@font-face {
  font-family: symbola;
  src: url(./Fonts/symbola.woff);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #2D3B62;
}

