* {
  font-size: 1.2vw;
}

.form {
  display: table;
  margin: 0;
}
.row {
  font-size: inherit;
  display: table-row;
  margin: 0;
  /* margin-top: 5px; */
}
.label {
  display: table-cell;
  padding: 0.5vw 1vw 0 0;
  vertical-align: top;
}
.input, .inputSearch, .inputMeaning, .inputTransliteration, .inputWide, .inputTransliterationWide, .inputKeyboard {
  font: 1.2vw symbola, book-antiqua, 'Book Antiqua', serif;
  display: table-cell;
  width: 11vw;
  background-color: #2D3B6288;
  color: #FFDC;
  border: 0.1vw solid #FFD8;
  border-radius: 0.5vw;
  margin: 0.2vw;
  padding: 0.2vw;
  outline: none;
  float: left;
  height: 2vw;
  /* margin-top: 5px;
  margin-right: 5px; */
}
.inputKeyboard {
  border-radius: 0.5vw 0 0 0.5vw;
  margin-right: 0;
  width: 8.5vw;
}
.inputSearch {
  font: 1.2vw symbola, book-antiqua, 'Book Antiqua', serif;
  background-color: #2D3B6288;
  color: #FFDC;
  border: 0.1vw solid #FFD8;
  margin: 0.2vw 0 0.2vw 0.2vw;
  padding: 0.2vw;
  outline: none;
  height: 2vw;
  border-radius: 0.5vw 0 0 0.5vw;
  width: 22vw;
}
.searchKeyboard {
  background-color: #2D3B6288;
  color: #FFDC;
  border: 0.1vw solid #FFD8;
  margin: 0.2vw 0 0 -0.1vw;
  padding: 0.2vw;
  outline: none;
  height: 2vw;
  border-radius: 0 0.5vw 0.5vw 0;
  width: 2.5vw;
}
.searchKeyboard:hover {
  /* background-color: #FFD4; */
  filter: drop-shadow(0 0 3px #ffe3);
}
.inputTransliteration, .inputTransliterationWide {
  font-style: italic;
}
.inputWide, .inputTransliterationWide, .inputDelete {
  width: 48vw;
}
.inputMeaning {
  width: 22.5vw;
}
.inputDelete {
  font: 1.2vw symbola, book-antiqua, 'Book Antiqua', serif;
  display: table-cell;
  width: 58vw;
  background-color: #2D3B6288;
  color: #F00C;
  border: 0.1vw solid #F008;
  border-radius: 0.5vw;
  margin: 0.2vw;
  padding: 0.2vw;
  outline: none;
  margin-bottom: 1vw;
}

.input:disabled, .inputSearch:disabled, .inputMeaning:disabled, .inputTransliteration:disabled, .inputWide:disabled, .inputTransliterationWide:disabled, .inputKeyboard:disabled {
  color: #FFEF;
  border: 0;
  /* needed for Safari */
  -webkit-text-fill-color: #FFEF;
  opacity: 1;
}

.lemmaListEntry {
  text-decoration: none;
}


.label:focus, .input:focus, .inputWide:focus, .inputTransliteration:focus, .inputTransliteration:focus, .inputTransliterationWide:focus  {
  color: #FFE;
  outline: none;
  border-color: #FFE;
}
.basic, .meanings, .variants, .quotations, .crosslinks, .deleteLemma {
  /* height: calc(100% - 20px); */
  /* height: 22vw; */
  width: 29vw;
  overflow: scroll;
  float: left;
  margin: 1vw;
  padding-left: 0.5vw;
  padding-bottom: 1vw;
  
  /* padding: 10px; */
  background-color: #2D3B6266;
  border: 1px solid #FFD8;
  box-shadow: 0 0 3px #2D3B62FF, 0 0 3px #2D3B62FF inset;
  border-radius: 10px;
}
.basic {
  height: 24vw;
}
.meanings, .variants {
  height: 11vw;
}
.quotations, .crosslinks, .deleteLemma {
  width: 60vw;
}

.crosslinks {
  display: flex;
  flex-direction: column;
  min-height: 1vw;
}
.deleteLemma {
  color: red;
  height: auto;
  padding-bottom: 1vw;
  cursor: pointer;
}
.quotationsList {
  margin-bottom: 3vw;
}
.crosslinksList {
  margin-bottom: 1vw;
}
.delete, .add {
  color: #ffef;
  background: #fff0;
  border: none;
  outline: none;
  margin-top: 0.5vw;
}
.add {
  float: left;
}
.delete {
  float: right;
}
.delete:hover, .add:hover {
  filter: drop-shadow(0 0 3px #ffe8);
}

.keyboard {
  position: absolute;
  background-color: white;
  margin: auto;
  left: 30vw;
  top: 0vw;
  width: 50vw;
  height: 20vw;
  
  
  overflow: scroll;
  /* float: left;
  margin: 1vw; */
  
  padding: 0.5vw 0.5vw;
  background-color: #2D3B62F0;
  border: 2px solid #FFDF;
  box-shadow: 0 0 5px #2D3B62FF, 0 0 3px #2D3B62FF inset;
  border-radius: 15px;
}

.sidebar, .lemma {
  height: calc(100% - 2vw);
  width: 64vw;
  
  overflow: scroll;
  float: left;
  margin: 1vw 1vw 6vw 1vw;
  
  padding: 0 0.5vw;
  background-color: #2D3B62CC;
  border: 2px solid #FFDF;
  box-shadow: 0 0 5px #2D3B62FF, 0 0 3px #2D3B62FF inset;
  border-radius: 15px;
}


.sidebar {
  width: 28vw;
  height: 100vh;
}


.lemma {
  width: 64vw;
}


.sortButtons {
  color: #ffef;
  background: #fff0;
  border: none;
  outline: none;
  margin-top: 0.5vw;
  font: 1vw symbola, book-antiqua, 'Book Antiqua', serif;
  text-shadow: 0 0 3px #FFD2;
}
.sortButtons:hover {
  filter: drop-shadow(0 0 3px #ffe6);
}

.addNewLemma {
  color: #ffef;
  background: #fff0;
  border: none;
  outline: none;
  margin-top: 0.5vw;
  font: 1.2vw symbola, book-antiqua, 'Book Antiqua', serif;
  text-shadow: 0 0 3px #FFD2;
}
.addNewLemma:hover {
  filter: drop-shadow(0 0 3px #ffe6);
}

.lemmaList {
  color: #ffef;
  background: #fff0;
  border: none;
  padding: 0.2vw;
  outline: none;
  text-shadow: 0 0 8px #2D3B62FF;
}
.lemmaList:hover {
  text-shadow: 0 0 4px #FFE6;
}

.search {
  margin-bottom: 1vw;
}